/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(120deg,#f6d365,#fda085);
  color: white;
  min-height: 100vh;
}
